#body {
    background-color: #eee;
}

#word-bank {
    min-height: 50px;
}

#images {
    cursor: pointer;
    /*position: relative;*/
}

.image-container {
    position: relative;
    max-width: 575px;
    width: 20%;
    /*overflow: visible;*/
    margin: 20px;
    /*overflow: visible;*/
    position: relative;
    display: inline-table;
    /*float: left;*/
}

.rating {
    /*position: absolute;*/
    width: 100%;
    font-weight: bold;
    margin: 5px 0;
}

.option {
    background-color: #5EBA7B;
    color: #fff;
    border-radius: 4px;
    margin: 5px;
}
label {
    width: 100%;
}

#input {
    width: 90%;
    margin: 0 10% 10px 0;

}